body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f2ee;
    color: #333;
}

.menu-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(241, 190, 101);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #ec971f;
}

.menu-section {
    margin-bottom: 30px;
}

.menu-section h2 {
    font-size: 24px;
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.menu-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.menu-item img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.menu-item h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
}

.menu-item p {
    margin: 0;
    color: #777;
}
